#### Lists

In [ ]:
#import libraries
import numpy as np
import pandas as pd

Basic Structure of a list

Lists can have diferent datatypes

In this Course we will learn how to manipulate

In [ ]:
list1 = (3,4,5,2,5,'g',2,'True',3.2)

print(list1)

Index of a list meas know data in diferente positions

list1[0] is the first position of list1

In [ ]:
list1[0]

In [ ]:
#Third position of my list
list1[2]

In [ ]:
# second last position of my list
list1[-2]

Now we can collect small part of a list
list2 means we chose list1 from 0 position to 4 position, each of them
list3 means we take list1 from 3 to 8 position, every 2 steps
list4 we take 4 position to end, every 3

In [ ]:
list2 = list1[0:4:1]
list3 = list1[3:8:2]
list4 = list1[4::3]

In [ ]:
list2

In [ ]:
list3

In [ ]:
list4

##### Now you know the most important concepts of list
##### If you dont understand some concepts or you want to give ideas you can contact me
###### jhoalexander@protonmail.com

In [ ]:
#Excercises
list21 = [2,3,4,1,3,4,"wer",'e',3.43,1,9, True]
list21

##### 1.0 Creat a list with 10 elements and use diferent data types
##### 2.0 Give position  3 ,5, 7 in diferents lists of list21
##### 3.0 Do a list from 4 position to end